

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:10 10 5; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    box-shadow:10 10 5;
}
#foo{
	text-align: center;
	margin-top: 150px;
}
#jumbo{
	background: #c8e6c9;
}
#navv{
	background: #e8f5e9;
}
#bodyy{
	background: #c8e6c9;
}














